:root {
    background-color:beige;
}

.memo-preview-block {
    border: 1px solid #777;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 20% 1fr;
}
.memo-preview-block:hover {
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}